@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 60% 99%;
    --foreground: 231 53% 17%;
    --card: 240 60% 99%;
    --card-foreground: 231 53% 17%;
    --popover: 240 60% 99%;
    --popover-foreground: 231 53% 17%;
    --primary: 174 61% 33%;
    --primary-foreground: 240 60% 99%;
    --secondary: 173 53% 62%;
    --secondary-foreground: 231 53% 17%;
    --muted: 240 61% 20%;
    --muted-foreground: 231 53% 70%;
    --accent: 204 100% 92%;
    --accent-foreground: 231 53% 17%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 231 53% 17%;
    --border: 240 61% 20%;
    --input: 240 61% 20%;
    --ring: 204 100% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 60% 1%;
    --foreground: 231 53% 83%;
    --card: 240 60% 1%;
    --card-foreground: 231 53% 83%;
    --popover: 240 60% 1%;
    --popover-foreground: 231 53% 83%;
    --primary: 174 61% 67%;
    --primary-foreground: 240 60% 1%;
    --secondary: 173 53% 38%;
    --secondary-foreground: 240 60% 1%;
    --muted: 240 61% 80%;
    --muted-foreground: 231 53% 83%;
    --accent: 205 100% 8%;
    --accent-foreground: 231 53% 83%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 231 53% 10%;
    --border: 240 60% 60%;
    --input: 240 61% 80%;
    --ring: 205 100% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
